!!!
%html
	%body
		%head
			%link{rel: "stylesheet", href: "/css/bootstrap.css"}
			%link{rel: "stylesheet", href: "/stylesheet.css"}
			%script{src: "http://code.jquery.com/jquery-latest.js"}
			%script{src: "js/bootstrap.js"}
			%script{src: "js/drop.js"}
			%title= @title
		%body
			#main
				.container
					.page-header 
						<h1>flightdrop <small>Convert IGC files to KML</small><h1>
					- if flash[:notice]
						.alert
							<button type="button" class="close" data-dismiss="alert">×</button>
							=flash[:notice]
					=yield
					#push
			#footer
				.container
					%span.pull-left
						= "#{Time.now.year} · "
						<a href="http://twitter.com/tnugg">Tobias Noiges</a>
					%span.pull-right
						<code>gem install fdc</code>
						
						