$footerBgColor: #f5f5f5;
$footerColor: #999999;

html, body {
	height: 100%;
}

#main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#footer {
	background-color: $footerBgColor;
	color: $footerColor;
	span { margin-top: 20px }
}

#push, #footer {
	height: 60px;
}

#dropzone {
	height:140px;
	border-width:5px;	
	border-style:dashed;
	border-color:lightgrey;
	border-radius:15px;
	text-align:center;
	background-color: #f5f5f5;
	margin-bottom:20px;
}

#hint {
	margin-top:60px;
	font-size:20pt;
	font-weight:bold;
	text-transform:uppercase;
	color: lightgrey;
}

.hidden{
	display: none;
}